@use 'abstracts' as a;
@use 'base';
@use 'components';
@use 'pages';

body{
    margin-bottom: -2em;
}

//testimonials
.testimonial-section{
    background-color: a.$primary-color;
    color: a.$base-colour;
}

//main

body{
    background-color: a.$base-colour;
}

.header-image{
    background-color: a.$base-colour;
    margin-top: 100px;
    width: 80%;

}

//about me section

.about-me-section{
    text-align: center;
    margin: 2em 4em;


    p{
        margin: 2em 1em; 
    }
}

//video player

.project-video-section {
    position: relative;
    width: 80%;
    margin: auto;

    video {
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: a.$primary-color;
        color: a.$base-colour;
        border: none;
        border-radius: 50%;
        width: 80px; 
        height: 80px; 
        font-size: 30px;
        cursor: pointer;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 0.8; 
        }

        &:focus {
            outline: none; 
        }
    }

    .video-controls {
        display: none; 
        position: absolute;
        bottom: 10px;
       width: 100%;
        z-index: 9; 
        display: flex;

        .fa{
            margin-left: 10px;
        }
        .fa-volume-up {
            margin-left: auto;
            color: a.$primary-color;
            font-size: 30px;
          }

        button {
            background: none;
            font-size: 30px;
            color: a.$primary-color;
            border: none;
            margin: 0 5px; 
            cursor: pointer;
    
            &:hover {
                color: a.$body-text-color;
            }
           
        }
    
        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 10rem;
          }
          input[type="range"]:focus {
            outline: none;
          }
          
          /******** Chrome, Safari, Opera and Edge Chromium styles ********/
          /* slider track */
          input[type="range"]::-webkit-slider-runnable-track {
            background-color:a.$primary-color;
            border-radius: 0.5rem;
            height: 0.5rem;
          }
          
          /* slider thumb */
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -4px; /* Centers thumb on the track */
            background-color: a.$primary-color;
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
          }
          
          input[type="range"]:focus::-webkit-slider-thumb {
            outline: 3px solid a.$primary-color;
            outline-offset: 0.125rem;
          }
          
          /*********** Firefox styles ***********/
          /* slider track */
          input[type="range"]::-moz-range-track {
            background-color: a.$primary-color;
            border-radius: 0.5rem;
            height: 0.5rem;
          }
          
          /* slider thumb */
          input[type="range"]::-moz-range-thumb {
            background-color: a.$primary-color;
            border: none; /*Removes extra border that FF applies*/
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
          }
          
          input[type="range"]:focus::-moz-range-thumb{
            outline: 3px solid a.$primary-color;
            outline-offset: 0.125rem;
          }
    }
}

// works section

.project-works-section {
    display: grid;
    justify-items: center; // Center all grid items

    h1 {
        margin-top: 1em;
        text-align: center;
    }

}

.sorting-buttons-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 0.5em;

    .sorting-buttons {
        width: 182px; 
        height: 40px;
        display: flex;                  
        justify-content: center;       
        align-items: center;    
        text-align: center;        
        border-radius: 15px;
        background-color: a.$secondary-color;
        margin: .5em 0; // Vertical margin only

        &:hover {
            background-color: a.$primary-color;
            color: a.$base-colour;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }
}
    
.project-card {
    position: relative; 
    height: 445px; 
    max-width: 629px; 
    width: 100%; 
    border-radius: 20px; 
    background-image: url('../images/pexels-ron-lach-8129898.jpg'); 
    background-size: cover; 
    background-position: center; 
    overflow: hidden; 
    margin: 1em auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

    // Overlay content positioning
    h2, p, .sorting-buttons-variation {
        position: absolute; 
        z-index: 2; 
        left: 30%; 
    }

    h2 {
        font-size: 32px;
        bottom: 23%; 
        transform: translateX(-50%); 
    }

    p {
        font-size: 14px;
        bottom: 15%; 
        transform: translateX(-40%); 
    }

    .sorting-buttons-variation {
        bottom: 3%; 
        margin-left: -30px; 

        p {
            padding: 10px 50px; 
            border-radius: 20px;
            background-color: a.$primary-color;
            color: a.$base-colour;
            text-align: center; 
        }
    }

    .arrow {
        position: absolute; 
        left: 50%; 
        bottom: 5%;
        transform: translateX(85%); 
        width: 78px;
        height: 78px;
        background-color: a.$secondary-color;
        border-radius: 50%; 
        display: flex; 
        justify-content: center; 
        align-items: center;

        img {
            width: 62px;
            height: 62px;
        }
    }
}

//testimonials

.testimonial{
    margin: 1em;
    h3{
        color: a.$secondary-color;
        margin-bottom: 1em;
        margin-left: 3em;
    }

    .text-container {
        position: relative; // Set relative positioning for the container
        margin: 10px; // Add margin
        padding: 10px; // Add padding
        color: a.$body-text-color; // Text color variable
        background-color: a.$base-colour; // Background color variable
        border-radius: 10px; // Rounded corners
        z-index: 2;
    }
    .background-svg {
        position: absolute; // Position the SVG absolutely
        bottom: 0;
        z-index: 1;
        left: -1rem; // Adjust horizontal position
        width: 3rem; // Set width of the SVG
        height: 3rem; // Set height of the SVG
    }
}

.testimonial-container {
    display: flex; // Use flexbox for inline display
    gap: 20px; // Optional: Add some space between testimonials
}

@media (min-width: 768px) {
    .sorting-buttons-container {
        padding-left: 2em;
        justify-content: left; 
        }
}
