@use 'abstracts' as a;
@use 'base';
@use 'components';
@use 'pages';

body{
    margin-bottom: -2em;
}



//main

body{
    background-color: a.$base-colour;
}

.header-image{
    background-color: a.$base-colour;
    margin-top: 100px;
}

//about me section

.about-me-section{
    position: relative;
    margin: auto;
    text-align: center;
    width: 75%;
    margin-bottom: 2em;

    p{
        margin: 1em; 
    }
}

//video player

.project-video-section {
    position: relative;
    width: 75%;
    margin: auto;

    video {
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: a.$primary-color;
        color: a.$base-colour;
        border: none;
        border-radius: 50%;
        width: 80px; 
        height: 80px; 
        font-size: 30px;
        cursor: pointer;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 0.8; 
        }

        &:focus {
            outline: none; 
        }

        
    }



    .video-controls {
        display: none; 
        position: absolute;
        bottom: 10px;
        width: 100%;
        z-index: 9;
        display: flex;
        justify-content: space-between; /* Aligns the items to the left, center, and right */
        align-items: center; /* Vertically aligns the items in the center */
    
        /* If you want to adjust the button spacing */
        .fa {
            margin-left: 10px;
        }
    
        .fa-volume-up {
            margin-left: auto;
            margin-right: 10px;
            color: a.$body-text-color;
            font-size: 40px;
        }
    
        button {
            background: none;
            font-size: 40px;
            color: a.$body-text-color;
            border: none;
            margin: 0 15px; /* Ensures buttons are spaced consistently */
            cursor: pointer;
            
            &:hover {
                color: a.$primary-color;
            }
        }
    
        /* Volume slider container */
        .volume-slider {
            width: 100%;
            max-width: 200px; /* Adjust the width of the slider if necessary */
            margin: 0 15px; /* Space it out to the left and right of the buttons */
        }
    
        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 10rem;
            height: 0.5rem;
            border-radius: 0.5rem;
        }
    
        input[type="range"]:focus {
            outline: none;
        }
    
        /******** Chrome, Safari, Opera, and Edge Chromium styles ********/
        /* slider track */
        input[type="range"]::-webkit-slider-runnable-track {
            background-color: a.$body-text-color;
            border-radius: 0.5rem;
            height: 0.5rem;
        }
    
        /* slider thumb */
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -4px; /* Centers thumb on the track */
            background-color: a.$body-text-color;
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
        }
    
        input[type="range"]:focus::-webkit-slider-thumb {
            outline: 3px solid a.$body-text-color;
            outline-offset: 0.125rem;
        }
    
        /*********** Firefox styles ***********/
        /* slider track */
        input[type="range"]::-moz-range-track {
            background-color: a.$body-text-color;
            border-radius: 0.5rem;
            height: 0.5rem;
        }
    
        /* slider thumb */
        input[type="range"]::-moz-range-thumb {
            background-color: a.$body-text-color;
            border: none; /* Removes extra border that FF applies */
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
        }
    
        input[type="range"]:focus::-moz-range-thumb {
            outline: 3px solid a.$body-text-color;
            outline-offset: 0.125rem;
        }
    }
}
    

// works section

.project-works-section {
    display: grid;
    justify-items: center; // Center all grid items

    h1 {
        margin-top: 1em;
        text-align: center;
    }

}

.projects-card-section{
    padding-bottom: 6em;
    overflow: hidden;
    position: relative;
}

//background stars
#container1, #container2, #container3 {
    position: absolute;  
    z-index: -1;        
    width: 612px;
    height: 638px;
    background-repeat: no-repeat;
}

#container1 {
    background-image: url('../images/green-star.svg');
    top: 10%;   
    left: 0%;  
}

#container2 {
    background-image: url('../images/green-star-03.svg');
    top: 30%;   
    left: 70%; 
}

#container3 {
    background-image: url('../images/green-star-02.svg');
    top: 70%;  
    left: 40%;  
}


.sorting-buttons-container {
    display: flex;  
    flex-wrap: wrap; 
    gap: 0.5em;

    .sorting-buttons {
        width: 110px; 
        height: 40px;
        display: flex;                  
        justify-content: center;       
        align-items: center;    
        text-align: center;        
        border-radius: 30px;
        background-color: a.$secondary-color;
        margin: .5em 0;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 

        &:hover {
            background-color: a.$primary-color;
            color: a.$base-colour;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
}


.project-card {
    position: relative; 
    height: 445px; 
    max-width: 629px; 
    min-width: 350px;
    width: 90%; 
    border-radius: 20px; 
    overflow: hidden;
    margin: 1em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);  

    // Hover effect to make box shadow darker
    &:hover {
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);  // Darker box shadow on hover
    }

    
    .project-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: 1; 
    }

  
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));  
        z-index: 2; 
    }

    .content-overlay {
        position: absolute;
        left: 10%;  
        bottom: 10%; 
        width: 80%;  
        z-index: 3;
    }
 
    h2, p, .sorting-buttons-variation {
        position: relative;
        z-index: 3;
        left: 0;
    }

    p{
        font-size: 16px;
    }

    h2{
        font-size: 32px;
    }

    .sorting-buttons-variation {
        margin-top: 10px;

        p {
            padding: 10px 20px; 
            border-radius: 20px;
            background-color: a.$primary-color;
            color: a.$base-colour;
            text-align: center; 
        }
    }

    // Arrow positioning 
    .arrow {
        position: absolute; 
        right: 1%;  
        bottom: 45%;
        transform: translateX(0);  
        width: 78px;
        height: 78px;
        background-color: rgba(a.$secondary-color, 0.8);
        border-radius: 50%; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        z-index: 4; 

        &:hover {
            background-color: a.$primary-color;
            color: a.$base-colour;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        img {
            width: 62px;
            height: 62px;
        }
    }
}

//testimonials mobile 
.testimonial-section {
    background-color: a.$primary-color;
    color: a.$base-colour;
    max-width: 100%;
    margin: 2em 2em;
    cursor: pointer;

    display: flex;
    flex-direction: column;     
    justify-content: center; 
    gap: 2rem;                                                                                                                       
    padding: 20px;           
}


.testimonial {
    margin: 0.5em;
    display: flex;          
    flex-direction: column; 
    align-items: center; 
     
    h3 {
        color: a.$secondary-color;
        margin-left: -4em;
        font-weight: bold;
        font-size: 18px;
     
    }

    .text-container {
        text-align: left;
        width: 320px;
        position: relative;
        margin: 20px;
        padding: 20px;
        color: a.$body-text-color;
        background-color: a.$base-colour;
        border-radius: 20px;
        z-index: 2; 
    }

    .background-svg {
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: -1rem;
        width: 3rem;
        height: 3rem;
    }
}




@media (min-width: 768px) {
    .sorting-buttons-container  .sorting-buttons {
        width: 200px;
        height: 60px;
    }
    

    .sorting-buttons-container {
        padding-left: 2em;
        justify-content: left; 
        }

        //* Testimonials section styling */
.testimonial-section {
    background-color: a.$primary-color;
    color: a.$base-colour;
    max-width: 100%;
    margin: 4em 3em;
    cursor: pointer;
}

.testimonial-section[data-animated="true"]{
overflow: hidden;

-webkit-mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
mask: linear-gradient(90deg, transparent,white 20%, white 80%, transparent);
}

.testimonial-carousel{
    gap: 1rem;
    display: flex;
    animation: scroll 60s linear infinite;
    width: fit-content;
     justify-content: center;
    align-items: center;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.testimonial {
    margin: 0.5em;


    h3 {
        color: a.$secondary-color;
        margin-bottom: 1em;
        margin-left: -13em;
        font-weight: bold;
    }

    .text-container {
    
        width: 500px;
        position: relative;
        margin: 20px;
        padding: 20px;
        color: a.$body-text-color;
        background-color: a.$base-colour;
        border-radius: 20px;
        z-index: 2; 
    }

    .background-svg {
        position: absolute;
        bottom: 0;
        z-index: 1;
        left: -1rem;
        width: 3rem;
        height: 3rem;
    }
}



    
}

@media (min-width: 768px){

    .project-card{
        height: 545px;
        .sorting-buttons-variation{
            p{
                padding: 5px 20px;
            }
        }
    }

   
}

@media (min-width: 1200px) {


    model-viewer{
        display: visible;
    }


}
