@use '../abstracts' as a;

footer{
    background-color: a.$primary-color;
    color: a.$base-colour;
    
    h1, h2,p{
        text-align: center;
    }
}

.testimonial-section{
    padding-top: 2em;

}

.testimonial{
    margin: 1em;
    h3{
        color: a.$secondary-color;
    }
 p{
    color: a.$body-text-color;
    background-color: a.$base-colour;
 }

}

.star-divider {
    display: flex;
    justify-content: center;
    align-items: center; 

    img {
        height: 66px;
        margin: 30px;
        text-align: center; 
    }
}

.bottom-footer{
    p{
        margin-top: 8em;
    }
}

.footer-svg{
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    li a{
        cursor: pointer;
    }
     img{
        text-align: center;
        margin: 5px 10px;
        height: 55px;
        width: 55px;
    }
}

//contact 

.contact {
    h1, h2 {
        text-align: center;
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-column-gap: 24px;
        max-width: 1512px;
        margin: 0 auto;
        padding: 16px;

        input, textarea {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            font-size: 16px;
            width: 100%; 
            box-sizing: border-box; 
            position: relative;

            &::placeholder {
                color: #aaa; 
            }
        }

        
        input::placeholder,
        textarea::placeholder {
           font-style: normal;
           color: a.$accent-color;
        }

        button {
            font-weight: bolder;
            padding: 10px;
            background-color: a.$base-colour; 
            color: a.$primary-color;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            width: 100%; 

            &:hover {
                background-color: a.$secondary-color;
                color: a.$base-colour; 
            }
        }
    }
}
