@forward 'header';
@forward 'footer';
@forward 'ar-model';



//lightbox

.lightbox {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(186, 221, 127, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 12;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; 
}