@use "../abstracts" as a;


.title{
    margin-top: 100px ;
    margin-bottom: .5em;

    .project-type {
        margin-top: 2em;
        margin-bottom: 2em;
        color: a.$primary-color;
        font-weight: bold;
    }

    .title-star{
        height: 1em;
        margin-bottom: -10px;
    }
}

.project-base {
    

    p{
        margin: 10px 0;
         
    }

}

.main-image-box {
    width: 100%;
    height: 300px;
    overflow: hidden; 
    margin: 2em 0;
    border-radius: 25px;
}

.about-image {
  
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}


.project-about{
    background-color: a.$accent-color;
    margin-top: 2em;
    padding: 0 2em;  

    h1{
        margin-top: .5em;
        color: a.$primary-color;
        margin-bottom: 0.5em;
    }

    p{
        color: a.$base-colour;
        margin-bottom: 10px;
    }
    
}

.feedback{
    margin: 1em 0;

    h1{
        text-align: center;
        margin: .5em 0;
        font-weight: 500;
        padding: 0 10px;
    }

    p{
        padding: .5em 2em;  

        span{
            font-weight: 500;
        }
    }
}

.keywords {
    margin: 2em 2em;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    background-color: a.$secondary-color;

    p{
        font-weight: 500;
    }
}

.photo-gallery{
    margin: 1em 0;
    img{
        border-radius: 15px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.toolkit{
    margin-bottom: 2em;

    h1{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    img{
        padding: 5px;
    }
    
}

.toolkit-slider {
    overflow: hidden; 
    white-space: nowrap; 
    position: relative;
    width: 100%; 
}

.toolkit-track {
    display: flex; 
    gap: 60px; 
    animation: scrollGallery 40s linear infinite; 
}

.toolkit-item {
    width: 150px; 
    height: auto; 
    flex-shrink: 0; 
}

@keyframes scrollGallery {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } 
}

//image on project page flex 

.photo-gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
    align-items: flex-start; 
}

.photo-item {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-grow: 1; 
    width: auto; 
    max-height: 350px; 
    // opacity: 0;
    // transform: translateY(50px);
}


@media(min-width:786px){
    .title{
       margin-bottom: 4em;

       .title-buttons{

        margin-bottom: 3em;
    }

    }

    .project-about{
        margin-top: 8em;
    }
}

@media(min-width:1200px){
    .title{
       
        margin-top: 14em;
     }
}

